@import "common.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem 1rem;
    &__h1 {
        font-size: 1em;
        margin-right: auto;

    }
    &__p {
        font-style: italic;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        color: $color-white;

    }
    &__select {
        padding: .5rem;
        text-align: right;
        background: transparent;
        color: $color-white;
        font-size: 1.3em;
        option {
            background-color: $color-bg;
            padding: .5rem;

        }

    }
}
