*, *::before, *::after {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

::selection {
  color: #1F1F28;
  background-color: #DCD7BA;
}

body {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  background-image: url("../img/the-great-wave-of-kanagawa.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #DCD7BA;
}
@media (max-width: 750px) {
  body {
    font-size: 1.6rem;
  }
}

main {
  border-radius: 1rem;
  box-shadow: -0.5rem 0.5rem 1rem 0.1rem #1F1F28;
  margin: 2rem auto;
  width: min(100% - 2rem, 750px);
  background-color: rgba(42, 42, 55, 0.9803921569);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
}
.header__h1 {
  font-size: 1em;
  margin-right: auto;
}
.header__p {
  font-style: italic;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #DCD7BA;
}
.header__select {
  padding: 0.5rem;
  text-align: right;
  background: transparent;
  color: #DCD7BA;
  font-size: 1.3em;
}
.header__select option {
  background-color: rgba(42, 42, 55, 0.9803921569);
  padding: 0.5rem;
}

.navbar {
  border-bottom: 4px solid #1F1F28;
  background: #2a2a37;
  text-transform: capitalize;
  display: flex;
  list-style: none;
  gap: 2rem;
  justify-content: flex-end;
  padding: 1rem 1.5rem;
}
.navbar li:first-child {
  margin-right: auto;
}

.search {
  border: 1px solid #1F1F28;
  display: flex;
  align-items: stretch;
}
.search__input {
  color: #DCD7BA;
  background: transparent;
  padding: 0 1rem;
  flex-grow: 1;
}
.search__input::placeholder {
  color: #DCD7BA;
  opacity: 0.5;
}
.search__button {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 150ms ease-in-out;
  text-transform: uppercase;
  background: #1F1F28;
  color: #DCD7BA;
  font-size: 2rem;
  padding: 1rem;
}
.search__button:hover {
  background: #2a2a37;
}
.search__dropdown {
  position: relative;
}

.filter {
  border-radius: 1rem;
  box-shadow: -0.5rem 0.5rem 1rem 0.1rem #1F1F28;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  padding: 1.5rem;
  background-color: #1F1F28;
  position: absolute;
  top: calc(100% + 1rem);
  right: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.dropdown--active .filter {
  pointer-events: auto;
  transform: translateY(0);
  opacity: 1;
}
.filter input {
  background-color: #2a2a37;
  color: #DCD7BA;
  padding: 0.5rem;
}
.filter__l-tags {
  grid-column-end: span 2;
  display: flex;
}
.filter__date {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
.filter__date label {
  font-size: smaller;
}
.filter__tag {
  font-size: x-small;
  padding: 0.25rem;
  background-color: #2a2a37;
}

.card {
  padding: 1.5rem;
  border-bottom: 1px solid #1F1F28;
}
.card__title {
  text-align: center;
  margin-bottom: 2rem;
}
.card__img {
  --grid-row: span 2;
  width: 150px;
  object-fit: cover;
  grid-row: var(--grid-row);
}
.card__content {
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-columns: min-content 1fr;
  gap: 1rem;
}
.card__tag {
  display: inline-block;
  background-color: #1F1F28;
  padding: 0 0.25rem;
  font-size: x-small;
}
.card__date {
  font-size: x-small;
}
.card__description {
  --order: 0;
  --grid-column: auto;
  order: var(--order);
  grid-column: var(--grid-column);
  font-size: smaller;
}
.card__tags {
  --order: 0
  order: var(--order);
}
@media (max-width: 500px) {
  .card__description {
    --grid-column: span 2;
    --order: 2;
  }
  .card__tags {
    --order: 1;
  }
  .card__img {
    --grid-row: auto;
  }
}

/*# sourceMappingURL=style.css.map */
