.topbar {
  border-bottom: 4px solid var(--color-darker);
  background: var(--color-dark);
  text-transform: capitalize;
  display: flex;
  list-style: none;
  gap: 2rem;
  justify-content: flex-end;
  padding: 1rem 1.5rem;
}

.topbar li:first-child {
  margin-right: auto;
}